## Everyday tools
alias ls="ls -GF"
alias less="less -r"
alias which="type -f"
alias tmux="tmux -2"

## code
alias git=/usr/local/bin/git
alias python=python3
alias pip=pip3
alias iterm=/Application/iTerm.app
alias editxt="subl -n"
alias txt="subl -n"

## Operating system related
alias badblocks=/usr/local/opt/e2fsprogs/sbin/badblocks
# alias fusion_client=/Library/Extensions/AstekFusion2Family.kext/Contents/MacOS/fusion_client
alias refresh_alias="source ~/.aliases"

# common folders
alias projects="cd ~/projects"

## useful misc apps
alias yt="youtube-dl -f 'bestvideo[ext=mp4]+bestaudio[ext=m4a]/best[ext=mp4]/best' --write-sub --write-description --write-info-json"
