[user]
    name = oleng
    email = oleng@users.noreply.github.com

[core]
    editor = subl -n -w
    autocrlf = input
    excludefiles = ~/.gitignore

[init]
    templatedir = ~/.git_template

[color]
    ui = auto
    advice = auto
    diff = auto
    branch = auto
    interactive = auto
    pager = true

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[credential]
    helper = osxkeychain

[alias]
    last = log -1 HEAD
    undo = reset --soft HEAD^
