[user]
    name = oleng
    email = oleng@users.noreply.github.com

[core]
    editor = code .
    autocrlf = input
    excludefiles = ~/.gitignore

[init]
    templatedir = ~/.git_template

[color]
    ui = true
    advice = true
    diff = true
    branch = true
    interactive = true
    pager = true

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "status"]
    added = cyan bold
    changed = yellow
    untracked = blue italic

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[credential]
    helper = osxkeychain

[alias]
    last = log -1 HEAD
    undo = revert
    unstage = reset --
    restore = restore --staged
    rmtracked = rm --cached

[diff]
    submodule = log
